{% load static %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Delivery Hero Tech Academy library</title>
     <link rel="stylesheet" href="{% static 'style.css' %}">
     <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&display=swap" rel="stylesheet">
 </head>
 <body>
     <header>
         <h1 class="main-title">Welcome to Delivery Hero Tech Academy Library!</h1>
     </header>
     <main class="main">
         <p class="description">Here you will find all the books available in our library</p>
         <a href="{% url 'catalog' %}" class= "main-btn">ENTER</a>
     </main>
 </body>
 </html>